{% extends 'gallery/base.html' %}

{% block container%}
    <div class="row">
        <div class="col-md-8 text-center">
            <img src="{{ photo.photo.url }}" alt="No pic :(" class="col-md-12"/>
        </div>
        <div class="col-md-4">
            <a href="{% url 'gallery:grid' user.username %}"><- {{ user.username }}</a>
            <h4>{{ photo.description }}</h4>

            {% if photo.comment_set.count == 0 %}
                <p>No comments.</p>
            {% else %}
                {% for comment in photo.comment_set.all %}
                    <p><b>{{ comment.author }}</b> - {{ comment.content }} - <i>{{ comment.date }}</i></p>
                {% endfor %}
            {% endif %}

            <form action="{% url 'gallery:commented' user.username photo.id %}" method="post">
                {% csrf_token %}
                <textarea name="comment" placeholder="Write your comment here." class="col-sm-12" required></textarea>
                <input type="submit" value="Add comment" class="btn btn-success" style="margin-top: 4px">
            </form>
        </div>
    </div>
{% endblock %}
