{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}"/>

<div class="container" style="padding-top: 20px;">
    <a href="{% url 'gallery:index' %}"><- Users</a>

    <h2>{{ user }}</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}


    {% if user.photo_set.count == 0 %}
        <p>No photos to show.</p>
    {% else %}

        <div class="row" style="display: flex; flex-wrap: wrap;">
            {% for photo in user.photo_set.all %}

                <div class="col-md-4 text-center">
                    <div class="thumbnail">
                        <a href="{% url 'gallery:detail' user.username photo.id %}">
                            <img src="{{ photo.photo_url }}" alt="Wrong url." width="80%">
                        </a>
                        <div class="caption" style="padding-top: 10px;">
                            <form action="{% url 'gallery:liked' user.username %}" method="post">
                                {% csrf_token %}
                                {% if photo.liked %}
                                    <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Love_Heart_symbol.svg"
                                           name="photo"  value="{{ photo.id }}" width="20px" height="20px" >
                                {% else %}
                                    <input type="image" src="https://www.wpclipart.com/signs_symbol/love/hearts/Heart_icon_red_hollow.png"
                                           name="photo"  value="{{ photo.id }}" width="20px" height="20px" >
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}
</div>