{% extends 'gallery/base.html' %}

{% block container%}
    {% if all_users %}
        <h3>Users:</h3>

        <div class="row" style="display: flex; flex-wrap: wrap;">
            {% for user in all_users %}
                <div class="col-md-3 text-center">
                    <div class="thumbnail">
                      <a href="{% url 'gallery:grid' user.username %}">
                        <img src="{{ user.profile_photo.url }}" alt="No profile pic :(" width="80%">
                        <div class="caption">
                          <p>{{ user.username }}</p>
                        </div>
                      </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <h3>No users.</h3>
    {% endif %}
{% endblock %}